extends layout

block content
  div(class='header')
    h2 Quizduell Cheat - Games

  div(class='list-of-games')
    - for (var i = 0; i < numberOfGames; i++) {
    div(class='game', onclick="showGameID("+gameIDs[i]+")")
      div(class='gameID')= 'GameID: '+gameIDs[i]
      if yourturns[i] == true
        div(class='yourturn')= ' '
      else 
        div(class='notyourturn')= ' '
      div(class='opponent')= username+' gegen '+opponents[i]+' ['+points[i]+', Runde '+rounds[i]+']'
      hr
    - }

  script.
    function showGameID(gameID) {
      alert(gameID);
    }
