extends layout

block content
  div(class='centered')
    h1 Quizduell Cheat Web-GUI
    form(action=games, method=post)
      table
        tr
          td Username
          td
            input(type='text', name='username')
        tr
          td Password
          td
            input(type='text', name='password')
        tr
          td
          td
            input(type='submit', name='s', value='einloggen')
