a:link {text-decoration: none; color: Black;}
a:visited {text-decoration: none; color: Black;}
a:focus { /* Deklarationen */ }
a:hover {text-decoration: none; color: #0000D8 !important}
a:active { /* Deklarationen */ }

html, body, main{
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
  background-color: #F5F5F5;
  font-size: 20px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
  height: 7%;
}

.list-of-games {
  float: left;
  width: 35%;
  background-color: lightgray;
  margin-right: 2%;
  padding: 1%;
  height: 83%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.game:hover {
  background-color: #74D0E7;
  cursor: pointer;
}
.single-game {
  background-color: lightgray;
  height: 83%;
  float: left;
  width: 59%;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
}
.gameStatus {
  direction: ltr;
}
.gameStatus table {
  border-collapse: collapse;
  margin-top: 50px;
}
#above-row {
  border-bottom: 1px solid black;
}
.border {
  border-right: 1px solid black;
}
.playername {
  border-right: 1px solid black;
}
.right-answer {
  background-color: rgba(0, 255, 0, 0.5);
  width: 25px;
}
.wrong-answer {
  background-color: rgba(255, 0, 0, 0.5);
  width: 25px;
}
.no-answer {
  width: 25px;
}
.questions table {
  width: 100%;
  direction: ltr;
  margin-top: 50px;
  border-collapse: collapse;
}
.question {
  width: 30%;
  border: 1px solid black;
}
.answer {
  width: 17.5%;
  border: 1px solid black;
}
.right {
  background-color: rgba(0,255,0,0.5);
}
.wrong {
  background-color: rgba(255,0,0,0.5);
}
.category {
  font-weight: bold;
  text-align: center;
}
.gameID {
  font-size: small;
  font-weight: lighter;
}
.opponent {
  margin-top: 2%;
  margin-bottom: 2%;
}
.yourturn {
  height: 15px;
  width: 15px;
  background-color: rgba(255,0,0,0.5);
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin: 10px;
  margin-top: 2.5%;
}
.notyourturn {
  height: 15px;
  width: 15px;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin: 10px;
  margin-top: 2.5%;
}

.overview {
  float: left;
  direction: ltr;
}
.buttons {
  text-align: right;
}
